<% @recipe = Recipe.find(id) %>

<div class="card">
  <div class="card-header"> <h5> <%= @recipe.title %> </h5> <b> chef: </b> <%= @recipe.chef_name %> </div>
  <img class="card-img-top recipe_image" src= <%= @recipe.image %> >
  <div class="card-body">
    <% @recipe.tags.each do |tag|%>
      <span class="badge badge-pill badge-primary"><%=tag%></span>
    <% end %>
    <p class="card-text"> <%= @recipe.description %> </p>
  </div>
</div>
